Ignore files/
Ricky/2028 Assignment 2.pdf
Ricky/final_simplified_ricky
Assignment 2 Workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/EE2028Asmt2S1AY201819/ (Rachel Neo's conflicted copy 2018-11-11).markers
